/*Style sheet for Alice in Wonderland*/

h2{font-family:cursive;}
h3{font-family:cursive;}
p {font-family: 'Atkinson Hyperlegible', sans-serif;}
figcaption{font-family: 'Montserrat', sans-serif;}

.centertext{text-align:center;}